header{
  display: none;
}
body{
  background: #FFFFFF;
}
#div_pageContainer{
    top : 0;
    width: 100%;
    height: 100%;
}

#div_mainContainer{
  position: fixed;
  top : 0;
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.contactVMI_body{
  top : 0;
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 200px;
  font-family: 'Roboto';
  font-weight: bold;
  background-color: #FFFFFF;
}

.contactVMI_All{
    width: 85%;
    height: 100%;
    margin: 0 7.5%;
}

.contactVMI_ligne{
    width: 100%;
    position: relative;
    min-height: 12.5%;
}
.contactVMI_ligne > span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.p_left{
    color: #323031;
    width: 100%;
    text-align: left;
    float: left;
}

.p_right{
    width: 100%;
    font-size: 14px;
    color: #4D009A;
    text-align: right;
    text-transform:uppercase;
}

.p_right a {
  color: #323031!important;
  font-size: 18px;
  letter-spacing: 1.2px;
  padding-left:  8%;
}

.p_right svg{
  height:100%;
  width:30px;
  fill: #323031;
}

.p_right:not(.cursor) {
  opacity: 0.5;
}
